#container{

    border: 3px solid white;
    width: 7500px;
    height: 600px;
    background-color: black;
    float: left;
}
.body{
    margin-top: 100px;
    width: 100%;
    height: 620px;
}
body{
    background-color: green;
}
.player1{
    width: 200px;

}

.player2{
    width: 200px;

}


.white{
    width: 200px;
    margin: 0 auto;
}
.yellow{
    width: 200px;
    margin: 0 auto;
}
.purple{
    width: 200px;
    margin: 0 auto;
}

.finish{
    width: 50px;
    height: 600px;
    float: left;
}